$font-family-kaushan: 'Kaushan Script', cursive;
$font-family-roboto: 'Roboto', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$color-fff: #ffffff;
$text-color: #333333;
$link-color: #f38181;
$bg-color: #95e1d3;